a{
    color: white;
}
.article-opinion{
    line-height: 1rem;
    padding:  1rem 0;
    border-bottom: 1px solid white;
    .opinion-title{
        font-size: 0.8rem;
        line-height: 0.5rem;
        font-weight: 700;
        color: black;
    }
    p{
        font-size: 0.7rem;
        color: lightgrey;
        
    }
}