@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/robotocondensed-bold-webfont.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/robotocondensed-regular-webfont.woff2");
  font-weight: 300;
}

@mixin section-title {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

@mixin section-break {
  content: "";
  display: block;
  height: 18px;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  top: 0;
  left: -15px;
  right: -15px;
}

body,
header,
footer {
  max-width: 1320px;
  margin: auto;
}

a {
  color: white;
}

.container {
  width: 100%;
  background-color: green;
}

.in-mag-title {
  margin: auto;

  .n-icon {
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat red;
    margin-right: 10px;
  }

  h3 {
    padding-top: 8px;
    font: bold 19px/19px "Roboto Condensed", sans-serif;
  }
}

.news {
  @media (min-width: 768px) {
    .img-container {
      width: 25%;
    }

    @media (min-width: 1024px) {
      .main-content {
        background-color: green;
        height: 94% !important;

        img {
          object-fit: cover;
        }
      }
    }
  }

  button {
    background-color: #f61602;
    border-radius: 0;
    border: none;
    color: white;
  }
}

.article-debate2,
.article-debate1 {
  a {
    img {
      height: 63px;
      width: 63px;
    }
  }
}

.article-in-mag a {
  color: #333;
}

.topic a {
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  color: black;
}

.article-main h3 a {
  color: black;
  font-size: 22px;
}

header {
  .top-navbar {
    background-color: red;

    svg {
      width: 132px;
      height: 20px;
      fill: white;

      @media (min-width: 1024px) {
        width: 395px;
        height: 60px;
      }
    }

    .items button {
      font-size: 13px;
      margin: 0 0.5rem;
      font-family: "Roboto Condensed", sans-serif;
    }

    .button-subscribe {
      text-align: center;
      background-color: #ffe400;
      border: none;
      font-weight: bold;
      font-size: 13px;
      border-radius: 24px;

      @media (min-width: 1024px) {
        padding: 0.25rem 1rem;
        font-size: 18px;
      }
    }

    .login-btn {
      outline: none;
      border: none;
      background-color: transparent;
    }

    img[alt="waves"] {
      width: 20px;
      margin-right: 0.25rem;
    }

    .mobile-menu {
      border: none;
      background-color: red;
      color: white;
    }
  }

  header,
  .middle-navbar::before {
    @media screen and (min-width: 992px) {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      display: block;
      width: 66px;
      background-color: #f72210;
      border-left: 12px solid white;
      border-top: 13px solid #f72210;
    }
  }

  .middle-navbar {
    border-bottom: solid 1px lightgray;
    font: bold 19px/24px "Roboto Condensed", sans-serif;

    input {
      width: 80px;
    }

    ul {
      width: 95%;
      position: relative;

      li a {
        padding: 5px 3px;
      }
    }
  }

  .bottom-navbar {
    border-bottom: solid 1px lightgray;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
  }
}

.search-icon {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.more-stories .story-desc a {
  color: #333;
}

footer {
  nav .left-side {
    img {
      max-width: min-content;
    }
  }

  i.fab {
    color: gray;
  }

  .languages.nav,
  .footer-links .nav {
    a {
      color: gray;
      font-size: 0.8rem;
    }
  }

  .footer-links .nav {
    max-width: 80vw;

    li {
      padding: 0 0.5em;

      @media (min-width: 768px) {
        border-right: 1px solid grey;
      }
    }
  }

  .languages.nav {
    ul.nav {
      max-width: 500px;

      li {
        padding: 0 0.25rem;
      }
    }
  }
}

.news,
.subscribe {
  h6 {
    color: #f61602;
  }

  h3,
  p {
    text-align: center;
    @media (min-width:768px) {
      text-align: left;
    }
  }
}

.subscribe {
  .img-container {
    margin-bottom: 1rem;
    position: relative;
    @media (min-width:768px) {
      padding-right: 5.5rem;
    }

    img {
      position: relative;
    }

    .img2 {
      z-index: 2;
      left: -50px;
      bottom: -10px;
      @media (min-width:768px) {
        position: absolute;
        left: 90px;
        top: 25px;
      }
    }
  }
}

.article-main {
  margin: 0;

  .image-container {
    position: relative;

    img {
      width: 100%;
    }
  }

  .category {
    position: absolute;
    padding: 3px;
    // font-size: 17px;
    font-weight: bold;
    color: #f72210;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);

    h5 {
      font-size: 1rem;
    }
  }

  h3 {
    margin: 10px 0;
    line-height: 24px;
  }

  p {
    font-size: 13px;
    color: rgb(51, 51, 51);
  }
}

.article-in-mag {
  margin-top: 1.5rem;
  width: 100%;

  .tags {
    font: bold 17px/16px "Roboto Condensed", sans-serif;

    @media (min-width: 768px) {
      font: bold 16px/26px "Roboto Condensed", sans-serif;
    }
  }

  .tag {
    background-color: red;
  }

  h6 {
    font: bold 16px/16px "Roboto Condensed", sans-serif;
  }

  .image-container {
    position: relative;

    img {
      width: 100%;
    }

    .category {
      position: absolute;
      left: 0;
      bottom: 0;
      color: red;
      font: bold 16px/33px "Roboto Condensed", sans-serif;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 0 5px;
    }
  }
}

.in-mag {
  @media (max-width: 768px) {
    position: relative;
    padding-top: 39px !important;
  }

  h3 {
    font: bold 19px/19px "Roboto Condensed", sans-serif;
  }

  .first-article-in-mag {
    .see-all-features {
      padding: 10px;
    }

    .see-all-features:hover {
      background-color: #dbdcdd;
    }
  }
}

.article-opinion {
  line-height: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid white;

  .opinion-title {
    font-size: 0.8rem;
    line-height: 0.5rem;
    font-weight: 700;
    color: black;
  }

  p {
    font-size: 0.7rem;
    color: lightgrey;
  }
}

.editor-picks {
  .editor-picks-article {
    margin-top: 0;

    h3 {
      font: bold 20px/20px "Roboto Condensed", sans-serif;
    }

    p {
      font-size: 13px;
      line-height: 18px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.sponsored-insight {
  .card {
    border: solid 1px lightgray;
    margin-bottom: 20px;
  }

  .card-title {
    font: bold 20px/2px "Roboto Condensed", sans-serif;
    color: black;
  }

  .info {
    margin: 15px;
  }

  .card-text {
    font: 400 13px/19.5px Arial, Helvetica, sans-serif;
  }

  .image-container a h5 {
    font: bold 17px/16px "Roboto Condensed", sans-serif;
    color: #3581f4;
  }
}

.topic {
  h2 {
    font: bold 22px/22px "Roboto Condensed", sans-serif;
    color: #f72210;
  }

  .caption {
    padding: 10px 0;
  }

  .right-side .caption a {
    font-size: 17px;
  }

  .right-side article {
    border-bottom: 2px solid lightgrey;
  }
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.hero-articles {
  background-color: white;
  margin-top: 20px;

  h2 {
    @include section-title;
  }

  .simple-article {
    img {
      width: 100%;
    }

    h4 {
      font: bold 16px/19px "Roboto Condensed", sans-serif;
      color: rgba(3, 3, 3, 0.5);
      margin: 20px 0;
    }
  }

  .left-col,
  .middle-col {
    .top-article,
    .features-article {
      .category {
        padding: 4px 15px;
      }

      h5 {
        color: rgb(247, 34, 16);
        font: bold 17px/16px "Roboto Condensed", sans-serif;
        margin: auto;
      }

      h3 {
        font: bold 20px/20px "Roboto Condensed", sans-serif;
      }

      p {
        font: 400 15px/20px Arial, Helvetica, sans-serif;
      }
    }

    @media (max-width: 767px) {
      .featured-stories::before {
        @include section-break;
      }

      .featured-stories {
        position: relative;
        padding-top: 39px !important;
      }
    }
  }

  .middle-col {
    @media (max-width: 767px) {
      .my-turn::before {
        @include section-break;
      }

      .my-turn {
        position: relative;
        padding-top: 39px !important;
      }
    }

    .my-turn {
      h3 {
        @include section-title;
      }
    }

    .culture {
      @media (min-width: 768px) {
        .image-container {
          height: 100px;
          width: 100px;
          object-fit: cover;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      @media (min-width: 1024px) {
        .image-container {
          height: 140px;
          width: 140px;
        }
      }

      h3 {
        @include section-title;
      }

      .simple-article {
        .image-container {
          position: relative;

          a {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #c2d4d7;
            color: black;
            height: 20px;
          }

          h5 {
            font: bold 13px/20px "Roboto condensed", Arial, sans-serif;
          }
        }
      }
    }

    .more-stories {
      .img-wrap {
        img {
          width: 95px;
          height: 95px;
          object-fit: cover;
        }
      }

      .more-story {
        border-top: solid 1px lightgray;

        .story-desc {
          h5 {
            font: bold 17px/20px "Roboto Condensed", sans-serif;
          }

          p {
            font: 400 15px/20px Arial, Helvetica, sans-serif;
          }
        }
      }

      h4 {
        @include section-title();
      }
    }
  }
}

@media (max-width: 768px) {
  .in-mag::before {
    @include section-break;
  }
}

.vs-section {
  text-align: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  background-color: black;
  margin: 6px auto;
}

//  <!-- to be pasted subscirbe -->

// <!-- to be pasted subscirbe -->

@media (min-width: 992px) {
  .right-col .sponsored-insight {
    max-width: 100%;
  }

  .sponsored-insight .category a {
    font-size: 1rem;
  }
}
