@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/robotocondensed-bold-webfont.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/robotocondensed-regular-webfont.woff2");
  font-weight: 300;
}

body,
header,
footer {
  max-width: 1320px;
  margin: auto;
}

a {
  color: white;
}

.container {
  width: 100%;
  background-color: green;
}

.in-mag-title {
  margin: auto;
}

.in-mag-title .n-icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat red;
  margin-right: 10px;
}

.in-mag-title h3 {
  padding-top: 8px;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
}

@media (min-width: 768px) {
  .news .img-container {
    width: 25%;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .news .main-content {
    background-color: green;
    height: 94% !important;
  }
  .news .main-content img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.news button {
  background-color: #f61602;
  border-radius: 0;
  border: none;
  color: white;
}

.article-debate2 a img,
.article-debate1 a img {
  height: 63px;
  width: 63px;
}

.article-in-mag a {
  color: #333;
}

.topic a {
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  color: black;
}

.article-main h3 a {
  color: black;
  font-size: 22px;
}

header .top-navbar {
  background-color: red;
}

header .top-navbar svg {
  width: 132px;
  height: 20px;
  fill: white;
}

@media (min-width: 1024px) {
  header .top-navbar svg {
    width: 395px;
    height: 60px;
  }
}

header .top-navbar .items button {
  font-size: 13px;
  margin: 0 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

header .top-navbar .button-subscribe {
  text-align: center;
  background-color: #ffe400;
  border: none;
  font-weight: bold;
  font-size: 13px;
  border-radius: 24px;
}

@media (min-width: 1024px) {
  header .top-navbar .button-subscribe {
    padding: 0.25rem 1rem;
    font-size: 18px;
  }
}

header .top-navbar .login-btn {
  outline: none;
  border: none;
  background-color: transparent;
}

header .top-navbar img[alt="waves"] {
  width: 20px;
  margin-right: 0.25rem;
}

header .top-navbar .mobile-menu {
  border: none;
  background-color: red;
  color: white;
}

@media screen and (min-width: 992px) {
  header header,
  header .middle-navbar::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }
}

header .middle-navbar {
  border-bottom: solid 1px lightgray;
  font: bold 19px/24px "Roboto Condensed", sans-serif;
}

header .middle-navbar input {
  width: 80px;
}

header .middle-navbar ul {
  width: 95%;
  position: relative;
}

header .middle-navbar ul li a {
  padding: 5px 3px;
}

header .bottom-navbar {
  border-bottom: solid 1px lightgray;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
}

.search-icon {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.more-stories .story-desc a {
  color: #333;
}

footer nav .left-side img {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

footer i.fab {
  color: gray;
}

footer .languages.nav a,
footer .footer-links .nav a {
  color: gray;
  font-size: 0.8rem;
}

footer .footer-links .nav {
  max-width: 80vw;
}

footer .footer-links .nav li {
  padding: 0 0.5em;
}

@media (min-width: 768px) {
  footer .footer-links .nav li {
    border-right: 1px solid grey;
  }
}

footer .languages.nav ul.nav {
  max-width: 500px;
}

footer .languages.nav ul.nav li {
  padding: 0 0.25rem;
}

.news h6,
.subscribe h6 {
  color: #f61602;
}

.news h3,
.news p,
.subscribe h3,
.subscribe p {
  text-align: center;
}

@media (min-width: 768px) {
  .news h3,
  .news p,
  .subscribe h3,
  .subscribe p {
    text-align: left;
  }
}

.subscribe .img-container {
  margin-bottom: 1rem;
  position: relative;
}

@media (min-width: 768px) {
  .subscribe .img-container {
    padding-right: 5.5rem;
  }
}

.subscribe .img-container img {
  position: relative;
}

.subscribe .img-container .img2 {
  z-index: 2;
  left: -50px;
  bottom: -10px;
}

@media (min-width: 768px) {
  .subscribe .img-container .img2 {
    position: absolute;
    left: 90px;
    top: 25px;
  }
}

.article-main {
  margin: 0;
}

.article-main .image-container {
  position: relative;
}

.article-main .image-container img {
  width: 100%;
}

.article-main .category {
  position: absolute;
  padding: 3px;
  font-weight: bold;
  color: #f72210;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.article-main .category h5 {
  font-size: 1rem;
}

.article-main h3 {
  margin: 10px 0;
  line-height: 24px;
}

.article-main p {
  font-size: 13px;
  color: #333333;
}

.article-in-mag {
  margin-top: 1.5rem;
  width: 100%;
}

.article-in-mag .tags {
  font: bold 17px/16px "Roboto Condensed", sans-serif;
}

@media (min-width: 768px) {
  .article-in-mag .tags {
    font: bold 16px/26px "Roboto Condensed", sans-serif;
  }
}

.article-in-mag .tag {
  background-color: red;
}

.article-in-mag h6 {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

.article-in-mag .image-container {
  position: relative;
}

.article-in-mag .image-container img {
  width: 100%;
}

.article-in-mag .image-container .category {
  position: absolute;
  left: 0;
  bottom: 0;
  color: red;
  font: bold 16px/33px "Roboto Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 5px;
}

@media (max-width: 768px) {
  .in-mag {
    position: relative;
    padding-top: 39px !important;
  }
}

.in-mag h3 {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
}

.in-mag .first-article-in-mag .see-all-features {
  padding: 10px;
}

.in-mag .first-article-in-mag .see-all-features:hover {
  background-color: #dbdcdd;
}

.article-opinion {
  line-height: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid white;
}

.article-opinion .opinion-title {
  font-size: 0.8rem;
  line-height: 0.5rem;
  font-weight: 700;
  color: black;
}

.article-opinion p {
  font-size: 0.7rem;
  color: lightgrey;
}

.editor-picks .editor-picks-article {
  margin-top: 0;
}

.editor-picks .editor-picks-article h3 {
  font: bold 20px/20px "Roboto Condensed", sans-serif;
}

.editor-picks .editor-picks-article p {
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.sponsored-insight .card {
  border: solid 1px lightgray;
  margin-bottom: 20px;
}

.sponsored-insight .card-title {
  font: bold 20px/2px "Roboto Condensed", sans-serif;
  color: black;
}

.sponsored-insight .info {
  margin: 15px;
}

.sponsored-insight .card-text {
  font: 400 13px/19.5px Arial, Helvetica, sans-serif;
}

.sponsored-insight .image-container a h5 {
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  color: #3581f4;
}

.topic h2 {
  font: bold 22px/22px "Roboto Condensed", sans-serif;
  color: #f72210;
}

.topic .caption {
  padding: 10px 0;
}

.topic .right-side .caption a {
  font-size: 17px;
}

.topic .right-side article {
  border-bottom: 2px solid lightgrey;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.hero-articles {
  background-color: white;
  margin-top: 20px;
}

.hero-articles h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

.hero-articles .simple-article img {
  width: 100%;
}

.hero-articles .simple-article h4 {
  font: bold 16px/19px "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, 0.5);
  margin: 20px 0;
}

.hero-articles .left-col .top-article .category,
.hero-articles .left-col .features-article .category,
.hero-articles .middle-col .top-article .category,
.hero-articles .middle-col .features-article .category {
  padding: 4px 15px;
}

.hero-articles .left-col .top-article h5,
.hero-articles .left-col .features-article h5,
.hero-articles .middle-col .top-article h5,
.hero-articles .middle-col .features-article h5 {
  color: #f72210;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  margin: auto;
}

.hero-articles .left-col .top-article h3,
.hero-articles .left-col .features-article h3,
.hero-articles .middle-col .top-article h3,
.hero-articles .middle-col .features-article h3 {
  font: bold 20px/20px "Roboto Condensed", sans-serif;
}

.hero-articles .left-col .top-article p,
.hero-articles .left-col .features-article p,
.hero-articles .middle-col .top-article p,
.hero-articles .middle-col .features-article p {
  font: 400 15px/20px Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .hero-articles .left-col .featured-stories::before,
  .hero-articles .middle-col .featured-stories::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }
  .hero-articles .left-col .featured-stories,
  .hero-articles .middle-col .featured-stories {
    position: relative;
    padding-top: 39px !important;
  }
}

@media (max-width: 767px) {
  .hero-articles .middle-col .my-turn::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }
  .hero-articles .middle-col .my-turn {
    position: relative;
    padding-top: 39px !important;
  }
}

.hero-articles .middle-col .my-turn h3 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

@media (min-width: 768px) {
  .hero-articles .middle-col .culture .image-container {
    height: 100px;
    width: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-articles .middle-col .culture .image-container img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .hero-articles .middle-col .culture .image-container {
    height: 140px;
    width: 140px;
  }
}

.hero-articles .middle-col .culture h3 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

.hero-articles .middle-col .culture .simple-article .image-container {
  position: relative;
}

.hero-articles .middle-col .culture .simple-article .image-container a {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c2d4d7;
  color: black;
  height: 20px;
}

.hero-articles .middle-col .culture .simple-article .image-container h5 {
  font: bold 13px/20px "Roboto condensed", Arial, sans-serif;
}

.hero-articles .middle-col .more-stories .img-wrap img {
  width: 95px;
  height: 95px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-articles .middle-col .more-stories .more-story {
  border-top: solid 1px lightgray;
}

.hero-articles .middle-col .more-stories .more-story .story-desc h5 {
  font: bold 17px/20px "Roboto Condensed", sans-serif;
}

.hero-articles .middle-col .more-stories .more-story .story-desc p {
  font: 400 15px/20px Arial, Helvetica, sans-serif;
}

.hero-articles .middle-col .more-stories h4 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
}

@media (max-width: 768px) {
  .in-mag::before {
    content: "";
    display: block;
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
  }
}

.vs-section {
  text-align: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  background-color: black;
  margin: 6px auto;
}

@media (min-width: 992px) {
  .right-col .sponsored-insight {
    max-width: 100%;
  }
  .sponsored-insight .category a {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */